<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% if(!locals.user) { %>
        <a href="/sign-up">Register</a>
        <a href="/login">Log in</a>
    <% } else {  %>
        <a href="/logout">Logout</a>
        <!-- <ul>
            <% //locals.messages.map((message) => { %>
                <li></li>
            <% //}) %>
        </ul> -->
    <% } %>
</body>
</html>